* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.text {
    font-family: "JetBrains Mono";
}

.nav-text {
    color: rgb(228, 228, 115);
    font-size: 30px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
    background-color: rgb(45, 45, 45);
}

.container {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);

    transition: ease-in-out 2s;

    margin: 0px;
}

.node {
    opacity: 1;
    height: 340px;
    width: 300px;
    border: solid 2px;
    border-color: black;
}

.node:nth-last-child(3),
.node:nth-last-child(2),
.node:nth-last-child(1) {

    animation-name: example;
    animation-duration: 2s;
}
/* 
@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */

.photo {
    display: block;
    opacity: 1;
    transition: .5s ease;

    height: 295px;
    width: 293px;
}

.text-on-photo {
    transition: .5s ease;
    opacity: 0;

    margin-top: -295px;

    font-family: 'JetBrains Mono';
    font-size: 14px;
}

.price {
    position: sticky;
    top: 100%;

    width: 70px;

    margin-left: 20px;

    border: solid 2px;
    border-radius: 5px;
    border-color: #000;

    background-color: aquamarine;

    text-align: center;
    font-family: 'JetBrains Mono';
    font-size: 14px;
}

.node:hover .photo {
    opacity: 0.3;
    filter: blur(2px);
}

.node:hover .text-on-photo {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;

    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    overflow: auto;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal-cont {
    background-color: rgb(228, 228, 115);

    margin: auto;
    padding: 20px;

    border: 1px solid #000000;

    width: 80%;

    font-family: 'JetBrains Mono';
}

.subcribe-cont {
    background-color: rgb(115, 115, 115);

    margin: auto;
    padding: 30px;
    width: 300px;

    border: 1px solid #000000;

    font-family: 'JetBrains Mono';
}

.reject-span {
    float: right;
}

.sub-span:hover, 
.reject-span:hover {
    cursor: pointer;
}

.close-sub {
    color: rgba(0, 0, 0, 0.5);
    float: right;
    margin-top: -40px;
    margin-right: -115px;

    font-family: 'JetBrains Mono';
    font-size: 28px;
}

.close {
    color: rgba(0, 0, 0, 0.5);
    float: right;
    margin-top: -20px;
    margin-right: -10px;

    font-family: 'JetBrains Mono';
    font-size: 28px;
}

.close-hover {
    font-family: 'JetBrains Mono';
    font-size: 28px;
}

.close-hover:hover,
.close-hover:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.arrow {
    height: 340px;
    width: 300px;
}

.txt-blue {
    color: blue;
}

.txt-red {
    color: red;
}

.txt-grey {
    color:darkgrey;
}

.buttons {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 30 0 ;
}

ul {
    padding: 0;
    list-style: none;
    display: inline;
}

li {
    text-align: center;
    margin: 10px 10px;
    display: inline-block;
    font-size: 20px;
    width: 70px;
}

li:hover,
li:focus {
    cursor: pointer;
}

.hide {
    display: none;
    /* animation-name: hide;
    animation-duration: 2s; */
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.view {
    display: block;
    /* animation-name: view;
    animation-duration: 2s; */
}

@keyframes view {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
